{% extends "base.html" %}
{% load static wagtailcore_tags%}

{% block body_class %}template-homepage{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock extra_css %}

{% block content %}
<div class="wrapper-menu"> {# wrapper-menu #}
    {# include 'home/main_menu.html' #}
</div> {# wrapper-menu #}
<div class="wrapper">
    <main class="wrapper_content"> {# main wrapper_content #}
        <div class="block_projects">
            {% for block in page.event_block %}
            {% include_block block %} 1
            {% endfor %}
        </div>
    </main>
</div>{# wrapper #}


{% endblock content %}
