{% load static wagtailcore_tags wagtailuserbar %}

<!DOCTYPE html>
<html lang="uk">
    <head>
        <meta charset="utf-8" />
        <title>
            {% block title %}
            {% if page.seo_title %}{{ page.seo_title }}{% else %}{{ page.title }}{% endif %}
            {% endblock %}
        </title>
        {% if page.search_description %}
        <meta name="description" content="{{ page.search_description }}" />
        <meta property="og:title" content="{% if page.seo_title %}{{ page.seo_title }}{% else %}{{ page.title }}{% endif %}" />
        <meta property="og:type" content="website" />
        <meta property="og:description" content="{{ page.search_description }}" />
        <meta property="og:image" content="" />
        <meta property="og:site_name" content="{{ page.title }}" />
        {% endif %}
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="shortcut icon" href="/static/img/favicon.ico" type="image/x-icon">

        {# Force all links to be opened in a new tab #}
        <base target="_blank">

        {# Global stylesheets #}
        <link rel="stylesheet" type="text/css" href="{% static 'css/core.css' %}">

        {% block extra_css %}
        {# Override this in templates to add extra stylesheets #}
        {% endblock %}
    </head>

    <body class="{% block body_class %}{% endblock %}">
        {% wagtailuserbar %}

        {% block content %}{% endblock %}

        {# Global javascript #}
        <script type="text/javascript" src="{% static 'js/core.js' %}"></script>

        {% block extra_js %}
        {# Override this in templates to add extra javascript #}
        {% endblock %}
    </body>
</html>
